
Windows/MassMediaEditor/MassMediaEditor/bin/Debug/app\.publish/

Windows/MassMediaEditor/MassMediaEditor/bin/Debug/

Windows/MassMediaEditor/\.vs/MassMediaEditor/v16/

Windows/MassMediaEditor/MassMediaEditor/obj/Debug/
